@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One%7CGentium+Book+Basic:400,400i');

body {
  font-family: "Gentium Book Basic", serif;
}

h1 {
  font: 60px/75px 'Alfa Slab One', cursive, sans-serif;
  text-transform: uppercase;
}

h3 {
  font: italic 400 30px/40px "Gentium Book Basic", serif;
}

.App {
  text-align: center;
  background-color: #A79C93;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-links {
  list-style: none;
  padding-left: 0;
  padding-top:3%;
}

.nav-links li {
  display: inline-block;
  padding: 0 15px;
}

.nav-links a {
  color: #04060F;
  text-decoration: none;
  font-size: 25px;
}

.nav-links a:hover {
  color: #C1403D;
}

a[disabled] {
    pointer-events: none;
    color: gray;
}