.SignOut {
  cursor: pointer;
  background-color: #03353E;
  color:#A79C93;
  border: 0;
  display: block;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding:1%;
  border-radius: 5px;
  position: fixed;
  right: 2%;
  top:2%;
}
.hidden{
  visibility: hidden;
}